<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2013 SLUB Dresden
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!--suppress SpringPlaceholdersInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <context:component-scan base-package="de.qucosa"/>

    <bean id="appProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="singleton" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:*.properties</value>
                <value>file:${QUCOSA_HOME}/config/*.properties</value>
            </list>
        </property>
    </bean>

    <context:property-placeholder properties-ref="appProperties" ignore-unresolvable="true"
                                  ignore-resource-not-found="true"/>

    <import resource="default-authority-hierarchy.xml"/>
    <import resource="default-fedora-authority-details.xml"/>
    <import resource="default-authority-urnconfig-map.xml"/>

    <import resource="file:${QUCOSA_HOME}/config/spring/*.xml"/>

    <bean id="roleVoter" class="org.springframework.security.access.vote.RoleHierarchyVoter">
        <constructor-arg ref="roleHierarchy"/>
    </bean>

    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <constructor-arg>
            <list>
                <ref bean="roleVoter"/>
            </list>
        </constructor-arg>
    </bean>

    <security:http pattern="/index.jsp" security="none"/>

    <security:http create-session="stateless" access-decision-manager-ref="accessDecisionManager">
        <security:intercept-url pattern="/**" access="ROLE_USER" method="GET"/>
        <security:intercept-url pattern="/**" access="ROLE_ADMIN" method="PUT"/>
        <security:intercept-url pattern="/**" access="ROLE_ADMIN" method="POST"/>
        <security:intercept-url pattern="/**" access="ROLE_ADMIN" method="DELETE"/>
        <security:custom-filter position="FORM_LOGIN_FILTER" ref="roleParameterAuthenticationFilter"/>
        <security:http-basic/>
    </security:http>

</beans>
